<span th:fragment="services">
  <ul>
    <li>
      <a href="/task/list/" class="link-w-icon active">
        <div class="buttonChoose">
                        <span class="img">
                            <img class="icon" src="../../static/img/tasks.png" th:src="@{../../img/tasks.png}" alt="tasks.png" width="47px" height="47px">
                        </span>
          Домашние задания
        </div>
      </a>
    </li>

    <li>
      <a href="/teacher/list/" class="link-w-icon">
        <div class="buttonChoose">
                        <span class="img">
                            <img class="icon" src="../../static/img/teachers.png" th:src="@{../../img/teachers.png}" alt="teachers.png" width="50px" height="50px">
                        </span>
          Преподаватели
        </div>
      </a>
    </li>

    <li>
      <a href="/achievements/" class="link-w-icon">
        <div class="buttonChoose">
                        <span class="img">
                            <img class="icon" src="../../static/img/achievements.png" th:src="@{../../img/achievements.png}" alt="achievements.png" width="36px" height="50px">
                        </span>
          Достижения
        </div>
      </a>
    </li>

    <li>
      <a href="/test/list/" class="link-w-icon">
        <div class="buttonChoose">
                        <span class="img">
                            <img class="icon" src="../../static/img/progress.png" th:src="@{../../img/progress.png}" alt="progress.png" width="43px" height="50px">
                        </span>
          Экзаменация
        </div>
      </a>
    </li>
  </ul>
</span>